/* Navbar All*/
.navbar {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
    /* background-color: #fff; */
    /* position: fixed;
    top: 0;
    width: 100%; */
}
.navbar .navbar-nav .nav-item {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
    font-weight: 900;
}
.navbar img {
    width: 330px;
    color: #843839;
    height: 51px;
}
.navbar-brand {
    font-family: 'Rampart One','Viga', sans-serif;
    font-size: 20px;
    margin-left: -100px;
    /* background-image: url(../img/200x30px.png); */
    /* margin-top: 20px; */
}